.mainContainer{
    display: flex;
    justify-content: space-between;
    padding: 94px 90px;
}

.title{
    font-family: 'Monument Extended';
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    width: 42%;
}

.gradient{
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px){
    .title{
        font-size: 28px;
        line-height: 34px;
    }
    .mainContainer{
        padding: 74px 40px;
    }
    .visionImage{
        height: 480px;
        width: 780px;
    }
}

@media (max-width: 768px){
    .title{
        line-height: 33.6px;
        width: 100%;
    }
    .mainContainer{
        flex-direction: column;
        padding: 34px 30px 150px 30px;
    }
    .visionImage{
        height: 380px;
        width: 480px;
        margin-top: 490px;
    }
    .imageIsTrue{
        display: flex;
    }
}

@media (max-width: 375px){
    .title{
        font-size: 22px;
        line-height: 26.4px;
    }
    .mainContainer{
        padding: 28px 30px;
    }
    .visionImage{
        height: 200px;
        width: 280px;
        margin-left: 120px;
        margin-top: -28px;
    }
}
