.container{
    height: 20%;
    width: 70%;
    margin-left: 220px;
    margin-bottom: 10px;
}

.details{
    display: flex;
    justify-content: space-around;
}

.details h4{
    font-family: 'Satoshi';
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    width: 55%;
    margin-top: 30px;
}

.img{
    margin-top: 38px;
}

.description{
    font-family: 'Satoshi';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 130px;
    margin-bottom: 130px;
}

@media (max-width: 1024px){
    .details h4{
        font-size: 18px;
        line-height: 23px;
    }
    .description{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 60px;
    }
    .container{
        margin-left: 180px;
    }
    .image{
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 768px){
    .details h4{
        line-height: 23.4px;
    }
    .description{
        line-height: 20.8px;
        margin-bottom: 120px;
    }
    .container{
        margin-left: 0;
        margin-top: 30px;
        width: 25rem;
    }
    .image{
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 375px){
    .image{
        height: 60px;
        width: 60px;
    }
    .description{
        margin-left: 60px;
        margin-top: 20px;
    }
    .details{
        justify-content: space-between;
    }
    .container{
        width: 100%;
    }
    .details h4,
    .img{
        margin-top: 20px;
    }
}
