.mainContainer{
    background-image: url('../../assets/infoBackground.png');
    background-size: cover;
    background-position: center top;
    width: 100%;
    position: relative;
}

.items {
    list-style: none;
    max-width: 80.5rem;
    margin: 1rem auto;
    padding: 2rem;
  }

  @media (max-width: 375px){
    .items {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        width: 60rem;
      }
  }

  